@import 'styles/variables.scss';

.container-fluid {
  max-width: $page-max-width;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
